html{
    height: 100%;
    width: 100%;
    
}

body{
    height: 100%;
    width: 100%;
    background: url("../img/bobsponja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    color: #26B9C8;
}
h2{
    color: #0457A0;
}
h3{
    color: #F2ACB2;
}

textarea{
    resize: none;
    margin-bottom: 11px;
}

input,select{
    margin-bottom: 11px;
}

.inputRad{
    margin-top: 11px;
}

.btn-amarelo{
    background-color: #d0db34;
    border: black 1px solid;
}

.btn-amarelo:hover{
    background-color: #E3EA7E;
    box-shadow: 0px 0px 17px 9px #EBF73B;
}

.btn-rosa{
    background-color: #F2ACB2;
}

.btn-azule{
    background-color:#0457A0 ;
}
.btn-azulc{
    background-color: #26B9C8;
}


.btn-rosa:hover{
    background-color: #EA606B;
    box-shadow: 0px 0px 17px 9px #E6A3A8;
}

.btn-azule:hover{
    background-color: #4BA0EA;
    box-shadow: 0px 0px 17px 9px #057DE6;
}
.btn-azulc:hover{
    background-color: #73DEEA;
    box-shadow: 0px 0px 17px 9px #2CD3E6;
}

.scroll{
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}
